
<div class="container h-100">
    <div class="row justify-content-center row-centered align-items-center">
        <div class="col-6 box">
            <h1 class="display-4 py-4 text-truncate font-weight-bold">Parent</h1>
            <div class="px-2">
            </div>
            <h5>Account: <strong>{{referencia}}</strong></h5>
            <h5>Has a balance of <strong> {{(balance * toEurRate)+ balanceEur | currency:'EUR':'symbol':'4.2-2' }}</strong></h5>
        </div>
        <div class="col-6  box gradiante ">
            <h1 class="display-4 py-4 text-truncate font-weight-bold" style="color: white;">Component</h1>
            <app-child class="justify-content-center" [childData]="data" (messageEvent)="receiveMessage($event)" ></app-child>
        </div>
    </div>
</div>
